
/*Card */

.profile-card{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;

    text-align: center;
    border-radius: 8px;
    overflow: hidden;


}

.card-header{
    background-color: #2c3a47;
    padding: 3em;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0,37);
}

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #B3005E, #060047);
    margin: auto;
    border-radius: 100%;
    animation: animated-gradient 2s linear infinite;
}

.pic img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@keyframes animated-gradient {
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }

    100%{
        background-position: left top;
    }
    
}

.name{
    color: #FFEA20;
    font-size: 28px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.desc{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: #8DCBE6;
}


/* Skills section */
.titled{
    text-align: center;
    font-size: 36px; /* Tamaño del texto */
    color: #000000; /* Color del texto */
    text-decoration: underline; /* Subrayado del texto */
    text-decoration-color: crimson; /* Color del subrayado */
    text-decoration-thickness: 3px; /* Grosor del subrayado */
}

.skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    }

.skills-section{
    padding-top: 20px;
    }
    
    .skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    }
    
    .skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    border-radius: 2px;
    }
    
    .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    }
    .skills-box{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8 32px 0 rgba(31,38,135,0.37 );
    backdrop-filter: blur(2px);
    border: 20px solid rgba(red, green, blue, 0.18);
    }
    .skills-box:hover > .skills-title::after, 
    .skills-box:hover > .skills-title::before{
    width: 30px;
    }
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: crimson;
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: crimson;
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
    }
    .skills-title h3{
    color: #000000;
    margin-top: 0.5rem;
    }
    

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.small{
    font-size: 12px;
}
/*.current {
    text-decoration: underline;
}
*/

a{
    text-decoration: none;
}

/* Wrapper */

.item a{
    width: 120px; 
    color: #000;
}

.wrapper {
	grid-template-columns: repeat 1fr;

}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    grid-column: 1;
}

.item1{
    grid-row: 1;
}

.item2{
    grid-row: 2;
}

.item3{
    grid-row: 3;
}

.item4{
    grid-row: 4;
}

.item5{
    grid-row: 5;
}

.item6{
    grid-row: 6;

}








